In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [22]:
data = pd.read_csv('keypoint.csv',header=None)

C:\Users\potiv\AppData\Local\Temp\ipykernel_17380\2815074641.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('keypoint.csv',header=None)

In [23]:
data[0] = data[0].astype(str)

In [24]:
data[0].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
       '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype=object)

In [25]:
X = data.iloc[:,1:]
X

,1,2,3,4,5,6,7,8,9,10,...,33,34,35,36,37,38,39,40,41,42
0,0.0,0.0,0.315789,-0.184211,0.657895,-0.421053,0.842105,-0.631579,1.000000,-0.868421,...,0.263158,0.105263,-0.078947,0.052632,0.210526,0.315789,0.157895,0.315789,0.052632,0.236842
1,0.0,0.0,-0.272727,-0.204545,-0.590909,-0.386364,-0.818182,-0.522727,-1.000000,-0.704545,...,-0.363636,0.136364,-0.068182,0.090909,-0.431818,0.272727,-0.363636,0.295455,-0.250000,0.250000
2,0.0,0.0,0.289474,-0.184211,0.631579,-0.394737,0.842105,-0.605263,1.000000,-0.842105,...,0.210526,0.131579,-0.105263,0.078947,0.157895,0.368421,0.105263,0.342105,0.000000,0.263158
3,0.0,0.0,-0.295455,-0.204545,-0.590909,-0.409091,-0.818182,-0.545455,-1.000000,-0.727273,...,-0.363636,0.090909,-0.090909,0.068182,-0.431818,0.250000,-0.363636,0.272727,-0.227273,0.204545
4,0.0,0.0,0.315789,-0.210526,0.631579,-0.394737,0.842105,-0.605263,1.000000,-0.842105,...,0.236842,0.131579,-0.105263,0.078947,0.184211,0.342105,0.131579,0.315789,0.026316,0.236842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57610,0.0,0.0,0.189189,0.256757,0.527027,0.405405,0.756757,0.527027,0.918919,0.689189,...,0.527027,-0.202703,0.540541,-0.500000,0.756757,-0.635135,0.675676,-0.500000,0.621622,-0.405405
57611,0.0,0.0,0.189189,0.270270,0.513514,0.418919,0.756757,0.540541,0.918919,0.689189,...,0.527027,-0.189189,0.540541,-0.486486,0.756757,-0.635135,0.675676,-0.500000,0.621622,-0.391892
57612,0.0,0.0,0.189189,0.283784,0.513514,0.432432,0.756757,0.554054,0.918919,0.689189,...,0.527027,-0.202703,0.540541,-0.486486,0.756757,-0.621622,0.675676,-0.486486,0.621622,-0.378378
57613,0.0,0.0,0.202703,0.256757,0.513514,0.405405,0.756757,0.540541,0.918919,0.675676,...,0.527027,-0.202703,0.527027,-0.486486,0.743243,-0.608108,0.675676,-0.500000,0.635135,-0.391892
57614,0.0,0.0,0.202703,0.256757,0.500000,0.405405,0.743243,0.540541,0.905405,0.675676,...,0.527027,-0.202703,0.527027,-0.486486,0.743243,-0.621622,0.675676,-0.500000,0.621622,-0.391892

In [26]:
enc = LabelEncoder()

In [27]:
y = enc.fit_transform(data[[0]])
y

c:\Users\potiv\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([9, 9, 9, ..., 8, 8, 8])

In [28]:
print(y)

[9 9 9 ... 8 8 8]

In [29]:
from keras.callbacks import EarlyStopping
es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=2)

In [30]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [31]:
model = keras.Sequential([
    layers.Dense(1470, activation='relu'),
    layers.Dropout(0.5),
    layers.Dense(832, activation='relu'),
    layers.Dropout(0.5),
    layers.Dense(428, activation='relu'),
    layers.Dropout(0.5),
    layers.Dense(264, activation='relu'),
    layers.Dropout(0.5),
    layers.Dense(35, activation='softmax')
])

In [32]:
model.compile(loss = "sparse_categorical_crossentropy", optimizer = "adam", metrics=["accuracy"])

In [37]:
model.fit(X_train, y_train, epochs = 50, batch_size = 128, validation_split = 0.2, callbacks=[es])

Epoch 1/50
289/289 [==============================] - 6s 22ms/step - loss: 0.0684 - accuracy: 0.9769 - val_loss: 0.0276 - val_accuracy: 0.9918
Epoch 2/50
289/289 [==============================] - 6s 21ms/step - loss: 0.0680 - accuracy: 0.9768 - val_loss: 0.0226 - val_accuracy: 0.9922
Epoch 3/50
289/289 [==============================] - 6s 21ms/step - loss: 0.0616 - accuracy: 0.9796 - val_loss: 0.0256 - val_accuracy: 0.9905
Epoch 4/50
289/289 [==============================] - 6s 21ms/step - loss: 0.0587 - accuracy: 0.9811 - val_loss: 0.0261 - val_accuracy: 0.9912
Epoch 4: early stopping

In [38]:
model.evaluate(X_test, y_test, verbose = 0)

[0.038674432784318924, 0.9884578585624695]

In [39]:
# evaluate the model on the validation set and compute performance metrics
y_val_pred = model.predict(X_test)
y_val_pred_classes = np.argmax(y_val_pred, axis=1)
acc = accuracy_score(y_test, y_val_pred_classes)
prec = precision_score(y_test, y_val_pred_classes, average='macro')
rec = recall_score(y_test, y_val_pred_classes, average='macro')
f1 = f1_score(y_test, y_val_pred_classes, average='macro')
print("Accuracy:", acc)
print("Precision:", prec)
print("Recall:", rec)
print("F1-score:", f1)

361/361 [==============================] - 1s 3ms/step
Accuracy: 0.9884578668749457
Precision: 0.9905242696249221
Recall: 0.9848777485250849
F1-score: 0.9868631755743329

In [36]:
model.save("model.h5")